.nav-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 15rem;
  background-color: var(--main-color);
  border-radius: 100% 100% 0 0;
  padding: 3rem;
}

.footer-title {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 2rem;
}

.menu-footer {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  padding-bottom: 3rem;
}

.menu-footer-item {
  list-style: none;
}

.item-link:hover {
  transition: 300ms;
  color: var(--form-color);
}
