/* HEADER  */

.nav-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);

  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem 1.5rem 2rem;

  .nav-link {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
  }

  .nav-link a:hover {
    transition: 300ms;
    color: #8983d6;
  }
}

.picture {
  margin-top: 6rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    border-radius: 20px;
    position: relative;
  }

  .t-p-banner {
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .p-banner {
      font-size: 1.2rem;
      padding: 1rem;
    }
  }
}


